@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #494e6e;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9277ff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7c5dfa;
}
